body {
	font-family: 'Helvetica Neue' !important;
}
body .markdown-body {
	font-family: 'Helvetica Neue' !important;
}
div[role=main] a {
	color: #5177b4 !important;
}
div[role=main] table.files td.icon .octicon-file-directory {
	color: #87a2cf !important;
}
